html {
  font-family: "Droid Sans", sans-serif;
}

/* navigation bar */
.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #F2F2F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* main box */
.header {

}

/* project grid */
body {
  margin: 40px;
}

.wrapper1 {
  display:grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 10px;
}

.project {
  padding: 20px;
  font-size: 150%;
}

/* footer grid */
.wrapper2 {
  display:grid;
  grid-template-columns: 200px 200px;
}

.footercol {

}